#about-hero{
    background-image:url("../../assets/we-are-hiring-digital-collage.jpg");
    width: 100%;
    height:45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}
#about-hero h2{
    color: white;
    font-size: 30px;
    padding: 5px 0;
    font-weight: 800;
}
#about-hero p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
#about-hero span{
    color: red;
}